<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Menu de Cursos
   -->
  <ion-row>
    <ion-col size="12">
      <ion-segment value="default">
        <ion-segment-button value="desenvolvimento_sistemas">
          <ion-label>Desenvolvimento de Sistemas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Informatica_internet">
          <ion-label>Informática para Internet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Quimica">
          <ion-label>Química</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Card de Desenvolvimento de Sistemas -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Banco de Dados</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/574070/pexels-photo-574070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Programação Web</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/6804595/pexels-photo-6804595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Progamação Mobile</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Informática</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/5474294/pexels-photo-5474294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Informática</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/5474285/pexels-photo-5474285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Informática</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/2280571/pexels-photo-2280571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Átomos</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/2280568/pexels-photo-2280568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Nêutrons</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Programming" src="https://images.pexels.com/photos/2280549/pexels-photo-2280549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Prótons</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>  
    </ion-col>
  </ion-row>


</ion-content>

